[Unit]
Description=gunicorn daemon
Requires=education.socket
After=network.target

[Service]
User=jenkins
Group=www-data
WorkingDirectory=/var/lib/jenkins/workspace/Education
ExecStart=/var/lib/jenkins/workspace/Education/env/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/education_gunicorn.sock \
          config.wsgi:application

[Install]
WantedBy=multi-user.target