{% extends 'base.html'%}
{% load static %}
{% block content%}

<body>

    <!-- MOBILE MENU -->
    {% include 'mobile_menu.html' %}

    <!--HEADER SECTION-->
    {% include 'header.html'%}
    <!--END HEADER SECTION-->

    <section class="pop-cour">
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="con-title">
                    <h2>Popular <span>Courses</span></h2>
                    <p>The lagends law collage offer alot of courses.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            <div class="col-md-3"> <img src="{% static 'images/course/sm-1.jpg'%}" alt=""> </div>
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a href="law-course-details.html">
                                    <h3>Law Graduate Assessment Test (Law GAT)</h3>
                                </a>
                                <h4>Law / Legal Studies</h4>
                                <p>Embark on a transformative journey into the world of law with our Law Graduate Assessment Test (Law GAT) course. Designed for aspiring legal professionals, this comprehensive program delves deep into the intricacies of legal studies, providing a solid foundation for future success.</p>
                                <span class="home-top-cour-rat"></span>
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a href="law-course-details.html"><i class="fa fa-bar-chart" aria-hidden="true"></i> Book Now</a></li>
                                        <li><a href="law-course-details.html"><i class="fa fa-eye" aria-hidden="true"></i> 100 Available</a></li>
                                        <li><a href="law-course-details.html"><i class="fa fa-share-alt" aria-hidden="true"></i> 500</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            <div class="col-md-3"> <img src="{% static 'images/course/sm-2.jpg'%}" alt=""> </div>
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a href="law-admission-course-details.html">
                                    <h3>Law Admission Test (LAT)</h3>
                                </a>
                                <h4>Law / Legal Studies</h4>
                                <p>Unlock the gateway to a promising legal career with our Law Admission Test. This comprehensive course is tailored for individuals aspiring to pursue a future in the dynamic field of law. Classes commenced on [start date], offering a unique opportunity to join a community of legal enthusiasts.</p>
                                <!-- <p>With a total of 72 seats, act quickly to secure one of the remaining [available seats] spots. Don't miss the chance to learn from experienced faculty members and engage in thought-provoking discussions that will shape your understanding of the legal landscape.</p> -->
                                <span class="home-top-cour-rat">4.2</span>
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a href="law-admission-course-details.html"><i class="fa fa-bar-chart" aria-hidden="true"></i> Enroll Now</a></li>
                                        <li><a href="law-admission-course-details.html"><i class="fa fa-eye" aria-hidden="true"></i>30 Available</a></li>
                                        <li><a href="law-admission-course-details.html"><i class="fa fa-share-alt" aria-hidden="true"></i> Share: 320</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            <div class="col-md-3"> <img src="{% static 'images/course/sm-3.jpg'%}" alt=""> </div>
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a href="civil-judge-course-details.html">
                                    <h3>Civil Judge</h3>
                                </a>
                                <h4>Law / Legal Studies</h4>
                                <p>Embark on a journey towards becoming a distinguished Civil Judge with our comprehensive course in Law. Classes for the Civil Judge program started on [start date], providing a golden opportunity to delve into the intricate realms of legal studies.</p>
                                <!-- <p>This course offers a total of 72 seats, with only [available seats] spots left. Seize the chance to learn from seasoned legal professionals, engage in interactive sessions, and gain the knowledge and skills needed to excel in the field of civil law.</p> -->
                                <span class="home-top-cour-rat">4.2</span>
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a href="civil-judge-course-details.html"><i class="fa fa-bar-chart" aria-hidden="true"></i> Enroll Now</a></li>
                                        <li><a href="civil-judge-course-details.html"><i class="fa fa-eye" aria-hidden="true"></i>10 Available</a></li>
                                        <li><a href="civil-judge-course-details.html"><i class="fa fa-share-alt" aria-hidden="true"></i> Share: 1020</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            <div class="col-md-3"> <img src="{% static 'images/course/sm-5.jpg'%}" alt=""> </div>
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a href="magistrate-course-details.html">
                                    <h3>Magistrate</h3>
                                </a>
                                <h4>Law / Legal Studies</h4>
                                <p>Embark on a journey to become a distinguished Magistrate with our specialized course in Law. Classes for the Magistrate program commenced on [start date], offering a unique opportunity to explore the nuances of legal studies and judicial practices.</p>
                                <!-- <p>This course provides a total of 72 seats, with only [available seats] spots remaining. Secure your place to learn from seasoned legal experts, engage in practical case studies, and develop the skills necessary for a successful career as a Magistrate.</p> -->
                                <span class="home-top-cour-rat">4.2</span>
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a href="magistrate-course-details.html"><i class="fa fa-bar-chart" aria-hidden="true"></i> Enroll Now</a></li>
                                        <li><a href="magistrate-course-details.html"><i class="fa fa-eye" aria-hidden="true"></i>4 Available</a></li>
                                        <li><a href="magistrate-course-details.html"><i class="fa fa-share-alt" aria-hidden="true"></i> Share: 570</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        
                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            <div class="col-md-3"> <img src="{% static 'images/course/sm-6.jpg'%}" alt=""> </div>
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a href="additional-section-judge-course-details.html">
                                    <h3>Additional Session Judge (ASJ)</h3>
                                </a>
                                <h4>Law / Legal Studies</h4>
                                <p>Embark on a transformative journey towards becoming an Additional Section Judge with our specialized course in Law. Classes for the Additional Section Judge program started on [start date], offering a unique opportunity to explore advanced legal studies and judicial practices.</p>
                                <!-- <p>This comprehensive course provides a total of 72 seats, with only [available seats] spots remaining. Secure your place to learn from seasoned legal experts, engage in practical case studies, and develop the skills necessary for a successful career as an Additional Section Judge.</p> -->
                                <span class="home-top-cour-rat">4.2</span>
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a href="additional-section-judge-course-details.html"><i class="fa fa-bar-chart" aria-hidden="true"></i> Enroll Now</a></li>
                                        <li><a href="additional-section-judge-course-details.html"><i class="fa fa-eye" aria-hidden="true"></i>[available seats] Available</a></li>
                                        <li><a href="additional-section-judge-course-details.html"><i class="fa fa-share-alt" aria-hidden="true"></i> Share: 320</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            <div class="col-md-3"> <img src="{% static 'images/course/sm-7.jpg'%}" alt=""> </div>
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a href="adpp-course-details.html">
                                    <h3>Assistant District Public Prosecutor (ADPP)</h3>
                                </a>
                                <h4>Law / Legal Studies</h4>
                                <p>Embark on a fulfilling journey towards a career in prosecution with our Assistant District Public Prosecutor (ADPP) course. Classes for this program commenced on [start date], providing a unique opportunity to delve into the intricacies of legal studies and criminal law.</p>
                                <!-- <p>This comprehensive course offers a total of 72 seats, with only [available seats] spots remaining. Secure your place to learn from seasoned legal experts, engage in practical case studies, and develop the skills necessary for success as an Assistant District Public Prosecutor.</p> -->
                                <span class="home-top-cour-rat">4.2</span>
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a href="adpp-course-details.html"><i class="fa fa-bar-chart" aria-hidden="true"></i> Enroll Now</a></li>
                                        <li><a href="adpp-course-details.html"><i class="fa fa-eye" aria-hidden="true"></i>25 Available</a></li>
                                        <li><a href="adpp-course-details.html"><i class="fa fa-share-alt" aria-hidden="true"></i> Share: 1020</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            <div class="col-md-3"> <img src="{% static 'images/course/sm-8.jpg'%}" alt=""> </div>
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a href="pcs-course-details.html">
                                    <h3>Public Service Commission (PCS)</h3>
                                </a>
                                <h4>Government / Civil Services</h4>
                                <p>Embark on a distinguished career in public service with our comprehensive Public Service Commission (PCS) course. Classes for this program commenced on [start date], offering a unique opportunity to prepare for government examinations and excel in civil services.</p>
                                <!-- <p>This course provides a total of 72 seats, with only [available seats] spots remaining. Secure your place to receive expert guidance, extensive study materials, and personalized coaching to ace the Public Service Commission examinations.</p> -->
                                <span class="home-top-cour-rat">4.2</span>
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a href="pcs-course-details.html"><i class="fa fa-bar-chart" aria-hidden="true"></i> Enroll Now</a></li>
                                        <li><a href="pcs-course-details.html"><i class="fa fa-eye" aria-hidden="true"></i>[available seats] Available</a></li>
                                        <li><a href="pcs-course-details.html"><i class="fa fa-share-alt" aria-hidden="true"></i> Share: 124</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            <div class="col-md-3"> <img src="{% static 'images/course/sm-8.jpg'%}" alt=""> </div>
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a href="css-course-details.html">
                                    <h3>Central Superior Services (CSS)</h3>
                                </a>
                                <h4>Government / Civil Services</h4>
                                <p>Elevate your aspirations for a distinguished career in public service with our Central Superior Services (CSS) course. Classes for this prestigious program commenced on [start date], presenting a unique opportunity to prepare for government examinations and excel in civil services.</p>
                                <!-- <p>This comprehensive course offers a total of 72 seats, with only [available seats] spots remaining. Secure your place to benefit from expert guidance, extensive study materials, and personalized coaching tailored to help you ace the Central Superior Services examinations.</p> -->
                                <span class="home-top-cour-rat">4.2</span>
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a href="css-course-details.html"><i class="fa fa-bar-chart" aria-hidden="true"></i> Enroll Now</a></li>
                                        <li><a href="css-course-details.html"><i class="fa fa-eye" aria-hidden="true"></i>26 Available</a></li>
                                        <li><a href="css-course-details.html"><i class="fa fa-share-alt" aria-hidden="true"></i> Share: 124</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   

    {% include 'footer.html'%}
    <section>
        <div class="icon-float">
            <ul>
                <li><a href="#" class="sh">1k <br> Share</a> </li>
                <li><a href="#" class="fb1"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="gp1"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="tw1"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="li1"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="wa1"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="sh1"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> </li>
            </ul>
        </div>
    </section>

    <!--Import jQuery before materialize.js-->
    {% include 'script.html' %}
</body>
{% endblock %}